.user-content {
  overflow: auto;
  height: 100%;
}

.content-header h1 {
  float: left !important;
  margin-top: 5px;
}

.input-report-type {
  float: left !important;
  width: 30% !important;
  margin-left: 10px;
  margin-bottom: 12px;
}

.report-row {
  display: inline !important;
  float: left;
  margin-right: 5px !important;
}

.report-title {
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}

