.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container .login-card {
  width: 360px;
}

.no-border {
  border: none;
}

.create-btn {
  color: #3c4043;
  border-radius: 24px;
  background-color: #fff;
  height: 50px;
  border: 1px solid transparent;
  display: block;
  width: 100%;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  padding: 6px 12px;
  text-transform: none;
  font-weight: 500;
}

