.trigger {
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  color: white !important;
}

.trigger:hover {
  color: white !important;
}

.logo {
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  background-color: #007bff;
  height: 64px;
  padding: 0px !important;
}

.user {
  float: right;
  cursor: pointer;
  margin-right: 10px;
}

.btn-profile {
  margin-bottom: 5px;
}

.content {
  padding: 10px;
  width: 100%;
  margin: 10px;
  overflow: hidden;
}

.wrapper-font-size {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, RobotoDraft, Arial, Helvetica, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .2px;
}

.create-btn {
  color: #3c4043;
  border-radius: 24px;
  background-color: #fff;
  height: 50px;
  border: 1px solid transparent;
  display: block;
  width: 100%;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  padding: 6px 12px;
  text-transform: none;
  font-weight: 500;
}
