.pf0 {
  padding-left: 0px;
}

.pr0 {
  padding-right: 0px;
}

.mt5 {
  margin-top: 5px;
}

.v-content {
  height: auto;
}

.form-item {
  margin-bottom: 10px;
}

.mb4 {
  margin-bottom: 4px;
}
.react-datepicker-popper {
  z-index: 100000 !important;
}
